.buttonsContainer {
    margin-top: 27px;
    display: grid;

    grid-template-columns: repeat(2, auto);
    column-gap: 26px;
}

.clock {
    width: 192px;
}

.watch {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.watch strong {
}

.more {
    margin-top: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.5);
}